{
    "{{name}}":
{
    "markers":{{part_electric}},
    "sigma":"{{ElectricalConductivity}}",
    "mu": "{{MagnetPermeability}} * mu0:mu0",

    "U":"meshes_cfpdes_fields_U:meshes_cfpdes_fields_U",

    "j_th":"-sigma*U/2/pi/x:sigma:U:x"
}
}