{
    "name":"magnetic_Conductor",
    "materials":"Conductor",
    "setup":{
        "coefficients":{
            "c":"x/materials_Conductor_mu:x:materials_Conductor_mu",
            "a":"1/materials_Conductor_mu/x:x:materials_Conductor_mu",
            "f":"materials_Conductor_j_th*x:materials_Conductor_j_th:x"
        }
    }
}