{
    "Stats_Linf":
    {
    {{#Stats_Linf}}
    "{{header}}": 
    {
        "type": "max",
        "expr": "abs(magnetic_Atheta-meshes_cfpdes_fields_v):magnetic_Atheta:meshes_cfpdes_fields_v",
        "markers":{{markers}}
    },
    {{/Stats_Linf}}
    }
}
                    