{
    "{{name}}":
{
    "markers":{{part_mat_conductor}},
    "mu": "{{MagnetPermeability}} * mu0:mu0",

    "p": "meshes_cfpdes_fields_P:meshes_cfpdes_fields_P",
    "t_tape": "{{thickness_tape}}:{{thickness_tape}}",
    "t_cell": "{{thickness_cell}}:{{thickness_cell}}",
    "h_tape": "{{height}}:{{height}}",
    
    "filename":"$cfgdir/superconductor-cfpdes-mag_hcurl-Axi.json"
}
}