{
    "{{name}}":
{
    "alpha":"alpha",
    "sigma":"ElectricalConductivity",
    "k":"ThermalConductivity",
    "mu": "MagnetPermeability",
    "rho":"VolumicMass",
    "Cp":"SpecificHeat",

    "filename":"conductor-nosource.json"}
}
