{
    "{{name}}":
{
    "alpha":"alpha",
    "sigma":"ElectricalConductivity",
    "k":"ThermalConductivity",

    "U":"U_{{name}}:U_{{name}}",
    "j_th":"-sigma*U/2/pi/x:sigma:U:x",

    "filename":"conductor.json"
}
}
