{
    "{{name}}":
{
    "sigma0":"{{ElectricalConductivity}}",
    "sigma":"sigma0:sigma0",
    "mu": "{{MagnetPermeability}} * mu0:mu0",

    "U":"U_{{name}}:U_{{name}}",

    "filename": "$cfgdir/conductor.json"
}
}