{
    "Name": "Fully coupled Axi Stationnary model",
    "ShortName":"FullAxiStat",
    "Models":
    {
		"equations":[
	    {
			"name":"heat",
			"unknown":
			{
		    	"basis":"Pch1",
		    	"name":"temperature",
		    	"symbol":"T"
			}
	    },
	    {
			"name":"magnetic",
			"unknown":
			{
			    "basis":"Pch2",
			    "name":"phi",
			    "symbol":"phi"
			}
	    }
		]
    },
    "Parameters":
    {
		"mu0":"4*pi*1e-7",
		"T0":"293.",

		"Tin":"284.15"
    },
    "Materials":
    {
		"Air":
		{
	    	"physics":"magnetic",
	    	"magnetic_c":"x/mu0:x:mu0",
	    	"magnetic_beta":"{2/mu0,0}:mu0"
		}
    },
    "BoundaryConditions":
    {
		"magnetic":
		{
		    "Dirichlet":
	    	{
				"magdir":
				{
		    		"markers":["ZAxis","Infty"],
		    		"expr":"0"
				}
			}
	    },
		"heat":
		{
	    	"Robin":
	    	{
	    	}
		}
    },
    "InitialConditions":
    {
        "temperature":
        {
            "Expression":
            {
                "myic":
                {
                    "markers": {{part_withoutAir}},
                    "expr":"Tinit:Tinit"
                }
            }
        }
    },
    "PostProcess":
    {
		"use-model-name":1,
		"cfpdes":
		{
	    	"Exports":
	    	{
				"fields":["heat.temperature"],
				"expr":
				{
		    		"atheta":"magnetic_phi/x:magnetic_phi:x",
		    		"B":
		    		{
						"expr":"{-magnetic_grad_phi_1/x,magnetic_grad_phi_0/x}:magnetic_grad_phi_0:magnetic_grad_phi_1:x",
						"representation":["element"]
		    		},
		    		"U":
		    		{
						"expr":"materials_U:materials_U",
						"markers":
						{
			    			"name": ["H%1_1%_Cu%1_2%"],
			    			"index1": {{index_conductor}}
						}
		    		},
		    		"Jth":
		    		{
						"expr":"-materials_sigma*materials_U/(2*pi*x):materials_sigma:materials_U:x",
						"markers":
						{
			    			"name": ["H%1_1%_Cu%1_2%"],
			    			"index1": {{index_conductor}}
						}
		    		},
		    		"Qth":
		    		{
						"expr":"materials_sigma*(materials_U/(2*pi*x))*(materials_U/(2*pi*x)):materials_sigma:materials_U:x",
						"markers":
						{
			    			"name": ["H%1_1%_Cu%1_2%"],
			    			"index1": {{index_conductor}}
						}
		    		}
				}
	    	}
		},
		"magnetic":
		{
	    	"Measures": 
	    	{
				"Statistics":
				{
					"MagneticEnergy":
		    		{
						"type":"integrate",
						"expr":"-2*pi*magnetic_phi/x*materials_sigma*(materials_U/2/pi):magnetic_phi:materials_sigma:materials_U:x",
						"markers":
						{
			    			"name": ["H%1_1%_Cu%1_2%"],
			    			"index1": {{index_conductor}}
						}
		    		},
					"Intensity_H%1_1%_Cu%1_2%":
					{
    					"type":"integrate",
    					"expr":"-materials_H%1_1%_Cu%1_2%_sigma*materials_H%1_1%_Cu%1_2%_U/2/pi/x:materials_H%1_1%_Cu%1_2%_sigma:materials_H%1_1%_Cu%1_2%_U:x",
    					"markers": "H%1_1%_Cu%1_2%",
    					"index1": {{index_conductor}}
					}
				}
	    	}
		},
		"heat":
		{
	    	"Save":
	    	{
				"Fields":
				{
		    		"names":["temperature"]
				}
	    	},
	    	"Measures":
	    	{
				"Statistics":
				{
		    		"MeanT": 
		    		{
						"type":["min","max","mean"], 
						"field":"temperature" 
		    		},
					"Flux_Channel%1%":
					{
    					"type":"integrate",
					    "expr":"h%1%*(heat_T-(Tw%1%+dTw%1%))*2*pi*x:x:heat_T:h%1%:Tw%1%:dTw%1%",
						"markers":"Channel%1%",
					    "index1": "{{imin}}:{{imax}}"
					}
				}
	    	}
		}
    }
}
