{
    "{{name}}":
{
    "expr1":"{{hw}}:{{hw}}",
    "expr2":"{{hw}}*({{Tw}}*(Z0<{{Zmin}}) + ({{dTw}}/({{Zmax}}-{{Zmin}})*(Z0-{{Zmin}})+{{Tw}})*(Z0>{{Zmin}})*(Z0<{{Zmax}}) + ({{Tw}}+{{dTw}})*(Z0>{{Zmax}})):Z0:{{hw}}:{{Tw}}:{{dTw}}:{{Zmin}}:{{Zmax}}"
}
}