{
    "name":"heat_{{name}}",
    "materials":{{part_conductor}},
    "setup":{
        "coefficients":{
            "c":"materials_k:materials_k",
            "f":"materials_sigma*(electric_grad_V_0*electric_grad_V_0+electric_grad_V_1*electric_grad_V_1):materials_sigma:electric_grad_V_0:electric_grad_V_1"
        }
    }
}