{
   "Stats_Flux":
   {
   {{#Stats_Flux}}
   "Flux_{{prefix}}%1%":
   {
      "type": "integrate",
      "expr": "h%1%*(heat_T-(Tw%1%+dTw%1%))*2*pi*x:x:heat_T:h%1%:Tw%1%:dTw%1%",
      "markers": "{{prefix}}%1%",
      "index1": "{{index_h}}"
   },
   {{/Stats_Flux}}
   }
}
