{
    "name":"elastic1_{{name}}",
    "materials":{{part_insulator}},
    "setup":{
        "coefficients":{
            "d":"materials_rho*x:materials_rho:x",
            "f":"{x*elastic2_v_0,x*elastic2_v_1}:x:elastic2_v_0:elastic2_v_1"
        }
    }
}