{
    "name":"elastic1_Insulator",
    "materials":"Insulator",
    "setup":{
        "coefficients":{
            "gamma":"{-materials_Insulator_stress_rr*x,-materials_Insulator_stress_rz*x,- materials_Insulator_stress_rz*x, -materials_Insulator_stress_zz*x}:x:materials_Insulator_stress_rr:materials_Insulator_stress_rz:materials_Insulator_stress_zz",
            "f":"{- materials_Insulator_stress_thth,0}:materials_Insulator_stress_thth"
        }
    }
}