{
    "name":"elastic1_Conductor",
    "materials":"Conductor",
    "setup":{
        "coefficients":{
            "d":"materials_Conductor_rho*x:materials_Conductor_rho:x",
            "f":"{x*elastic2_v_0,x*elastic2_v_1}:x:elastic2_v_0:elastic2_v_1"
        }
    }
}