{
    "name":"elastic1_{{name}}",
    "materials":{{part_insulator}},
    "setup":{
        "coefficients":{
            "gamma":"{-materials_stress_rr*x,-materials_stress_rz*x,- materials_stress_rz*x, -materials_stress_zz*x}:x:materials_stress_rr:materials_stress_rz:materials_stress_zz",
            "f":"{- materials_stress_thth,0}:materials_stress_thth"
        }
    }
}