{
    "name":"elastic2_Conductor",
    "materials":"Conductor",
    "setup":{
        "coefficients":{
            "d":"x:x",
            "gamma":"{-materials_Conductor_stress_rr*x,-materials_Conductor_stress_rz*x,- materials_Conductor_stress_rz*x, -materials_Conductor_stress_zz*x}:x:materials_Conductor_stress_rr:materials_Conductor_stress_rz:materials_Conductor_stress_zz",
            "f":"{bool_laplace*x*materials_Conductor_F_laplace_0 - materials_Conductor_stress_thth,bool_laplace*x*materials_Conductor_F_laplace_1}:x:bool_laplace:materials_Conductor_F_laplace_0:materials_Conductor_stress_thth:materials_Conductor_F_laplace_1"
        }
    }
}