{
    "name":"heat_Conduct_nosource",
    "materials":"Conduct_nosource",
    "setup":{
        "coefficients":{
            "c":"materials_Conduct_nosource_k*x:materials_Conduct_nosource_k:x"
        }
    }
}