{
    "name":"magnetic_Conductor",
    "materials":"Conductor",
    "setup":{
        "coefficients":{
            "c":"x/materials_Conductor_mu:x:materials_Conductor_mu",
            "beta":"{2/materials_Conductor_mu,0}:materials_Conductor_mu",
            "f":"materials_Conductor_j_th*x*x:materials_Conductor_j_th:x",
            "d":"materials_Conductor_sigma*x:x:materials_Conductor_sigma"
        }
    }
}