{
    "name":"magnetic_Insulator",
    "materials":"Insulator",
    "setup":{
        "coefficients":{
            "c":"x/materials_Insulator_mu:x:materials_Insulator_mu",
            "beta":"{2/materials_Insulator_mu,0}:materials_Insulator_mu"
        }
    }
}