{
   "Stats_Stress":
   {
   {{#Stress_H}}
   "{{header}}": 
   {
        "type": ["min", "max", "mean"],
        "expr": "materials_stress_thth:materials_stress_thth",
        "markers": {{markers}}
    },
    {{/Stress_H}}
   }
}
                    