{
   "Stats_Displ":
   {
   {{#Stats_Displ}}
   "{{header}}": 
   {
        "type": ["min", "max", "mean"],
        "field": "displacement",
        "markers": {{markers}}
    },
    {{/Stats_Displ}}
   }
}
                    