{
    "Stats_Ics":
    {
    {{#Stats_Ics}}
    "Ics_%1%": 
    {
        "type": "integrate",
        "expr": "-materials_JcB*({{thickness_tape}}/{{thickness_cell}}):{{thickness_tape}}:{{thickness_cell}}:materials_JcB",
        "markers": "%1%",
        "index1": {{part_electric}}
    },
    {{/Stats_Ics}}
    }
}