{
    "name":"magnetic_{{name}}",
    "materials":"{{part_insulator}}",
    "setup":{
        "coefficients":{
            "c":"x/materials_{{name}}_mu:x:materials_{{name}}_mu",
            "beta":"{2/materials_{{name}}_mu,0}:materials_{{name}}_mu"
        }
    }
}