{
    "{{name}}":
{
    "expr1":"{{hw}}:{{hw}}",
    "expr2":"({{Tw}}*(z<{{Zmin}}) + ({{dTw}}/({{Zmax}}-{{Zmin}})*(z-{{Zmin}})+{{Tw}})*(z>{{Zmin}})*(z<{{Zmax}}) + ({{Tw}}+{{dTw}})*(z>{{Zmax}})):z:{{Tw}}:{{dTw}}:{{Zmin}}:{{Zmax}}"
}
}