{
    "{{name}}":
{
    "h":"{{hw}}:{{hw}}",
    "Text":"({{Tw}}*(Z0<{{Zmin}}) + ({{dTw}}/({{Zmax}}-{{Zmin}})*(Z0-{{Zmin}})+{{Tw}})*(Z0>{{Zmin}})*(Z0<{{Zmax}}) + ({{Tw}}+{{dTw}})*(Z0>{{Zmax}})):Z0:{{Tw}}:{{dTw}}:{{Zmin}}:{{Zmax}}"
}
}