{
    "Name":"3D ThermoElectric model",
    "ShortName":"ThermoElec3D",
    "Parameters":
    {
	    {{#Parameters}}
		"{{name}}": "{{value}}",
		{{/Parameters}}
		
        "T0":"293"
    },
    "Meshes": {
        "cfpdes": {
            "Fields": {
                "U": {
                    "filename": "$cfgdir/U.h5",
                    "basis": "Pdh0"
                }
            }
        }
    },
    "Materials":
    {
    },
    "BoundaryConditions":
    {
        "electric": {
            "ground": {
                "markers": "{{iLead}}"
            },
            "electric_potential": {
                "{{oLead}}": {
                    "expr": "{{expr}}"
                }
            }
        },
		"temperature":
		{
	    	"heat":
            {
                "convective_heat_flux":
                {
                    {{#boundary_Therm_Robin}}
                    "{{name}}":
                    {
                        "h": "{{expr1}}",
                        "Text": "{{expr2}}"
                    },
                    {{/boundary_Therm_Robin}}
                }
            }
		}
    },
    "InitialConditions":
    {
        "temperature":
        {
            "File":
            {
                "myic":
                {
                    "filename": "{{temperature_initfile}}",
                    "format":"hdf5"
                }
            }
        },
        "electric-potential":
        {
            "File":
            {
                "myic":
                {
                    "filename": "{{V_initfile}}",
                    "format": "hdf5"
                }
            }
        }
    },
    "PostProcess":
    {
        "use-model-name":1,
	    "thermo-electric":
        {
            "Exports":
            {
                "fields":["heat.temperature","electric.electric-potential","electric.electric-field","electric.current-density","heat.pid"]
            }
        },
        "electric":
        {
	        "Save":
	        {
	            "Fields":
		        {
		            "names":["electric-potential"]
		        }
	        },
            "Measures":
            {
                "Statistics":
                {
                    "Intensity_%1%":
                    {
                        "type":"integrate",
                        "expr":"-materials_%1_2%_sigma*electric_dnP:materials_%1_2%_sigma:electric_dnP",
                        "markers":"%1_1%",
		                "index1": 
                        [ 
                            ["V0", "{{iLead}}"],
                            ["V1", "{{oLead}}"] 
                        ]
                    },
                    "Power":
	                {
	                    "type":"integrate",
	                    "expr":"expr": "materials_sigma*(electric_grad_P_0^2+electric_grad_P_1^2+electric_grad_P_2^2):materials_sigma:electric_grad_P_0:electric_grad_P_1:electric_grad_P_2",
                        "markers":"{{part_electric}}"
	                }
		        }
	        }
	    },
	    "heat":
	    {
	        "Save":
	        {
	            "Fields":
		        {
		            "names":["temperature"]
		        }
	        },
	        "Measures":
	        {
		        "Statistics":
		        {
		            "Stat_T": 
		            {
			            "type":["min","max","mean"], 
			            "field":"temperature" 
		            }
		        }
	        }
        }
    }
}
