{
    "Stats_Current":
    {
    {{#Stats_Current}}
    "{{header}}": 
    {
        "type": "integrate",
        "expr": "-materials_sigma*electric_dnP:materials_sigma:electric_dnP",
        "markers":  {{markers}}
    },
    {{/Stats_Current}}
    }
}
                    
