{
    "Stats_Current":
    {
    {{#Current_H}}
    "{{header}}": 
    {
        "type": "integrate",
        "expr": "-materials_sigma*(materials_U/2/pi)/x:materials_sigma:materials_U:x",
        "markers": {{markers}}
    },
    {{/Current_H}}
    }
}
                    