{
    "{{name}}":
{
    "k":"{{ThermalConductivity}}",
    "mu": "{{MagnetPermeability}}",
    "rho":"{{VolumicMass}}",
    "Cp":"{{SpecificHeat}}",

    "filename":"$cfgdir/insulator-cfpdes-thmqs_hcurl-Axi.json"
}
}