{
    "name":"magnetic_{{name}}":
    "materials":"{{name}}",
    "setup":{
        "coefficients":{
            "filename": "$cfgdir/magnetic-conduct-nosource-cfpdes-thmqs_hcurl-Axi.json"
        }
    }
}