{
    "name":"magnetic_Insulator",
    "materials":"Insulator",
    "setup":{
        "coefficients":{
            "c":"x/materials_Insulator_mu:x:materials_Insulator_mu",
            "a":"1/materials_Insulator_mu/x:x:materials_Insulator_mu"
        }
    }
}