{
    "Stats_Current":
    {
    {{#Stats_Current}}
    "Intensity_%1%": 
    {
        "type": "integrate",
        "expr": "-materials_Conductor_sigma*(materials_Conductor_U/2/pi+magnetic_dphi_dt)/x:magnetic_dphi_dt:materials_Conductor_sigma:materials_Conductor_U:x",
        "markers": "%1%",
        "index1": {{part_electric}}
    },
    {{/Stats_Current}}
    }
}
                    