{
   "Stats_T":
   {
   {{#Stats_T}}
   "{{header}}": 
   {
        "type": ["min", "max", "mean"],
        "field": "temperature",
        "markers": {{markers}}
    },
    {{/Stats_T}}
    }
}
                    