{
    "name":"elastic1_Conduct_nosource",
    "materials":"Conduct_nosource",
    "setup":{
        "coefficients":{
            "gamma":"{-materials_Conduct_nosource_stress_rr*x,-materials_Conduct_nosource_stress_rz*x,- materials_Conduct_nosource_stress_rz*x, -materials_Conduct_nosource_stress_zz*x}:x:materials_Conduct_nosource_stress_rr:materials_Conduct_nosource_stress_rz:materials_Conduct_nosource_stress_zz",
            "f":"{- materials_Conduct_nosource_stress_thth,0}:materials_Conduct_nosource_stress_thth"
        }
    }
}