{
    "name":"elastic2_{{name}}",
    "materials":{{part_conductor}},
    "setup":{
        "coefficients":{
            "d":"x:x",
            "gamma":"{-materials_stress_rr*x,-materials_stress_rz*x,- materials_stress_rz*x, -materials_stress_zz*x}:x:materials_stress_rr:materials_stress_rz:materials_stress_zz",
            "f":"{bool_laplace*x*materials_F_laplace_0 - materials_stress_thth,bool_laplace*x*materials_F_laplace_1}:x:bool_laplace:materials_F_laplace_0:materials_stress_thth:materials_F_laplace_1"
        }
    }
}