{
    "name":"heat_conduct_nosource",
    "materials":"conduct_nosource",
    "setup":{
        "coefficients":{
            "c":"materials_conduct_nosource_k*x:materials_conduct_nosource_k:x"
        }
    }
}