{
    "{{name}}":
    {
        "sigma0":"{{ElectricalConductivity}}",
        "sigma":"sigma0:sigma0",
        "mu": "{{MagnetPermeability}} * mu0:mu0",

        "filename":"$cfgdir/conduct-nosource-cfpdes-mqs-Axi.json"
    }
}
