{
    "name":"magnetic_Conduct_nosource",
    "materials":"Conduct_nosource",
    "setup":{
        "coefficients":{
            "c":"x/materials_Conduct_nosource_mu:x:materials_Conduct_nosource_mu",
            "beta":"{2/materials_Conduct_nosource_mu,0}:materials_Conduct_nosource_mu"
        }
    }
}