{
    "Channel{{i}}":
{
    "expr1":"h*x:h:x",
    "expr2":"x*h*(Tw*(y<Zmin{{i}}) + (dTw/(Zmax{{i}}-Zmin{{i}})*(y-Zmin{{i}})+Tw)*(y>Zmin{{i}})*(y<Zmax{{i}}) + (Tw+dTw)*(y>Zmax{{i}})):x:y:h:Tw:dTw:Zmin{{i}}:Zmax{{i}}
}
}