{
    "Name": "ThermoElectric Axi Stationnary model",
    "ShortName":"AxiThermoElectricStat",
    "Models":
    {
		"cfpdes":{
			"equations":"heat"
		},
		"heat":{
			"common":{
				"setup":{
					"unknown":{
						"basis":"Pch1",
						"name":"temperature",
						"symbol":"T"
					}
				}
			},
			"models":[
				
			]
		}
    },
    "Parameters":
    {
		{{#Parameters}}
		"{{name}}": "{{value}}",
		{{/Parameters}}
		
		"T0":"293."
    },
	"Meshes": {
        "cfpdes": {
            "Fields": {
                "U": {
                    "filename": "$cfgdir/U.h5",
                    "basis": "Pch1"
                }
            }
        }
    },
    "Materials":
    {
		
    },
    "BoundaryConditions":
    {
		"heat":
		{
	    	"Robin":
	    	{
				{{#boundary_Therm_Robin}}
				"{{name}}":
				{
					"expr1": "{{expr1}}",
					"expr2": "{{expr2}}"
				},
				{{/boundary_Therm_Robin}}
	    	}
		}
    },
    "InitialConditions":
    {
		"heat":{
			"temperature":
			{
				"Expression":
				{
					{{#init_temp}}
					"{{name}}":
					{
						"markers": {{magnet_parts}},
						"expr":"{{prefix}}Tinit:{{prefix}}Tinit"
					},
					{{/init_temp}}
				}
			}
		}
    },
    "PostProcess":
    {
		"use-model-name":1,
		"cfpdes":
		{
	    	"Exports":
	    	{
				"fields":["heat.temperature"],
				"expr":
				{
		    		"U":
		    		{
						"expr":"materials_U:materials_U",
						"markers": {{part_electric}}
		    		},
		    		"Jth":
		    		{
						"expr":"-materials_sigma*materials_U/(2*pi*x):materials_sigma:materials_U:x",
						"markers": {{part_electric}}
		    		},
		    		"Qth":
		    		{
						"expr":"materials_sigma*(materials_U/(2*pi*x))*(materials_U/(2*pi*x)):materials_sigma:materials_U:x",
						"markers": {{part_electric}}
					}
				}
	    	}
		},
		"heat":
		{
	    	"Save":
	    	{
				"Fields":
				{
		    		"names":["temperature"]
				}
	    	},
	    	"Measures":
	    	{
				"Statistics":
				{
					{{#power_magnet}}
					"Power_{{name}}":
					{
        				"type": "integrate",
        				"expr": "2*pi*materials_sigma*(materials_U/2/pi)*(materials_U/2/pi)/x:materials_sigma:materials_U:x",
        				"markers": {{magnet_parts}}
					},
					{{/power_magnet}}
		    		"Power":
				    {
        				"type": "integrate",
        				"expr": "2*pi*materials_sigma*(materials_U/2/pi)*(materials_U/2/pi)/x:materials_sigma:materials_U:x",
        				"markers": {{part_electric}}
    				},
					"Stat_T": 
		    		{
						"type":["min","max","mean"], 
						"field":"temperature" 
		    		}
				}
	    	}
		}
    }
}
