{
   "Stats_T":
   {
   {{#meanT_H}}
   "{{header}}": 
   {
        "type": ["min", "max", "mean"],
        "field": "temperature",
        "markers": 
        {
            "name": "{{name}}",
            "index1": {{index}}
        }
    },
    {{/meanT_H}}
   }
}
                    