{
    "name":"heat_Conductor",
    "materials":"Conductor",
    "setup":{
        "coefficients":{
            "c":"materials_Conductor_k*x:materials_Conductor_k:x",
            "f":"materials_Conductor_sigma*materials_Conductor_U/(2*pi)*materials_Conductor_U/(2*pi)/x:materials_Conductor_sigma:materials_Conductor_U:x"
        }
    }
}