{
    "Name": "Fully coupled Axi Stationnary model",
    "ShortName":"FullAxiStat",
    "Models":
    {
		"cfpdes":{
			"equations":["heat","magnetic","elastic"]
		},
		"heat":{
			"common":{
                "setup":{
					"unknown":
					{
						"basis":"Pch1",
						"name":"temperature",
						"symbol":"T"
					}
				}
			},
			"models":[
				{
                    "name":"heat_conductor",
                    "materials":{{part_conductor}},
                    "setup":{
                        "coefficients":{
							"c":"materials_k*x:materials_k:x",
                            "f":"materials_sigma*materials_U/(2*pi)*materials_U/(2*pi)/x:materials_sigma:materials_U:x"
                        }
                    }
                },{
					"name":"heat_insulator",
					"materials":{{part_insulator}},
					"setup":{
						"coefficients":{
							"c":"materials_k*x:materials_k:x"
						}
					}
				}
			]
		},
		"magnetic":{
			"common":{
                "setup":{
					"unknown":
					{
						"basis":"Pch2",
						"name":"Atheta",
						"symbol":"Atheta"
					}
				}
			},
			"models":[
				{
                    "name":"magnetic_conductor",
                    "materials":{{part_conductor}},
                    "setup":{
                        "coefficients":{
							"c":"x/materials_mu:x:materials_mu",
    						"a":"1/materials_mu/x:x:materials_mu",
                            "f":"materials_j_th*x:materials_j_th:x"
                        }
                    }
                },{
					"name":"magnetic_insulator",
					"materials":{{part_insulator}},
					"setup":{
						"coefficients":{
							"c":"x/materials_mu:x:materials_mu",
    						"a":"1/materials_mu/x:x:materials_mu"
						}
					}
				},{
					"name":"magnetic_Air",
					"materials":"Air",
					"setup":{
						"coefficients":{
							"c":"x/mu0:x:mu0",
							"a":"1/mu0/x:x:mu0"
						}
					}
				}
			]
		},
		"elastic":{
			"common":{
                "setup":{
					"unknown":
					{
						"basis":"Pchv1",
						"name":"displacement",
						"symbol":"u"
					}
				}
			},
			"models":[
				{
					"name":"elastic_conductor",
					"materials":{{part_conductor}},
					"setup":{
						"coefficients":{
							"c":"x*materials_Lame_mu:x:materials_Lame_mu",
							"gamma":"{-materials_Lame_lambda*(x*elastic_grad_u_00+elastic_u_0+x*elastic_grad_u_11)-x*materials_Lame_mu*elastic_grad_u_00-bool_dilatation*x*materials_sigma_T, -x*materials_Lame_mu*elastic_grad_u_10, -x*materials_Lame_mu*elastic_grad_u_01, -materials_Lame_lambda*(x*elastic_grad_u_00+elastic_u_0+x*elastic_grad_u_11)-x*materials_Lame_mu*elastic_grad_u_11-bool_dilatation*x*materials_sigma_T}:bool_dilatation:x:materials_Lame_lambda:materials_Lame_mu:elastic_u_0:elastic_grad_u_00:elastic_grad_u_01:elastic_grad_u_10:elastic_grad_u_11:materials_sigma_T",
							"f":"{bool_laplace*x*materials_F_laplace_0-materials_Lame_lambda*elastic_grad_u_00-(materials_Lame_lambda+2*materials_Lame_mu)*elastic_u_0/x-materials_Lame_lambda*elastic_grad_u_11-bool_dilatation*materials_sigma_T, bool_laplace*x*materials_F_laplace_1}:bool_laplace:bool_dilatation:x:materials_F_laplace_0:materials_F_laplace_1:materials_Lame_mu:materials_Lame_lambda:elastic_u_0:elastic_grad_u_00:elastic_grad_u_01:elastic_grad_u_11:materials_sigma_T"
						}
					}
				},{
					"name":"elastic_insulator",
					"materials":{{part_insulator}},
					"setup":{
						"coefficients":{
							"c":"x*materials_Lame_mu:x:materials_Lame_mu",
							"gamma":"{-materials_Lame_lambda*(x*elastic_grad_u_00+elastic_u_0+x*elastic_grad_u_11)-x*materials_Lame_mu*elastic_grad_u_00-bool_dilatation*x*materials_sigma_T, -x*materials_Lame_mu*elastic_grad_u_10, -x*materials_Lame_mu*elastic_grad_u_01, -materials_Lame_lambda*(x*elastic_grad_u_00+elastic_u_0+x*elastic_grad_u_11)-x*materials_Lame_mu*elastic_grad_u_11-bool_dilatation*x*materials_sigma_T}:bool_dilatation:x:materials_Lame_lambda:materials_Lame_mu:elastic_u_0:elastic_grad_u_00:elastic_grad_u_01:elastic_grad_u_10:elastic_grad_u_11:materials_sigma_T",
							"f":"{-materials_Lame_lambda*elastic_grad_u_00-(materials_Lame_lambda+2*materials_Lame_mu)*elastic_u_0/x-materials_Lame_lambda*elastic_grad_u_11-bool_dilatation*materials_sigma_T, 0}:bool_dilatation:x:materials_Lame_mu:materials_Lame_lambda:elastic_u_0:elastic_grad_u_00:elastic_grad_u_01:elastic_grad_u_11:materials_sigma_T"
						}
					}
				}
			]
		}
    },
    "Parameters":
    {
		{{#Parameters}}
		"{{name}}": "{{value}}",
		{{/Parameters}}
		
		"T0":"293.",
		"Tin":"284.15"
    },
    "Materials":
    {
		"Air":
		{

		}
    },
    "BoundaryConditions":
    {
		"magnetic":
		{
		    "Dirichlet":
	    	{
				"magdir":
				{
		    		"markers":["ZAxis","Infty"],
		    		"expr":"0"
				}
			}
	    },
		"heat":
		{
	    	"Robin":
	    	{
				{{#boundary_Therm_Robin}}
				"{{name}}":
				{
					"expr1": "{{expr1}}",
					"expr2": "{{expr2}}"
				},
				{{/boundary_Therm_Robin}}
			}
		},
		"elastic":
		{
	    	"Dirichlet":
	    	{
				{{#boundary_Meca_Dir}}
				"{{name}}":
				{
					"expr": "{{value}}"
				},
				{{/boundary_Meca_Dir}}
	    	}
		}
    },
    "InitialConditions":
    {
        "temperature":
        {
            "Expression":
            {
                "myic":
                {
                    "markers": {{part_thermic}},
		    		"expr":"Tinit:Tinit"
                }
            }
        }
    },
    "PostProcess":
    {
		"use-model-name":1,
		"cfpdes":
		{
	    	"Exports":
	    	{
				"fields":["heat.temperature","elastic.displacement"],
				"expr":
				{
		    		"atheta":"magnetic_Atheta:magnetic_Atheta",
		    		"B":
		    		{
						"expr":"{-magnetic_grad_Atheta_1,magnetic_grad_Atheta_0+magnetic_Atheta/x}:magnetic_Atheta:magnetic_grad_Atheta_0:magnetic_grad_Atheta_1:x",
						"representation":["element"]
		    		},
		    		"U":
		    		{
						"expr":"materials_U:materials_U",
						"markers": {{part_electric}}
		    		},
		    		"Jth":
		    		{
						"expr":"-materials_sigma*materials_U/(2*pi*x):materials_sigma:materials_U:x",
						"markers": {{part_electric}}
		    		},
		    		"Qth":
		    		{
						"expr":"materials_sigma*(materials_U/(2*pi*x))*(materials_U/(2*pi*x)):materials_sigma:materials_U:x",
						"markers": {{part_electric}}
		    		},
		    		"Flaplace":
		    		{
						"expr":"{materials_F_laplace_0,materials_F_laplace_1}:materials_F_laplace_0:materials_F_laplace_1",
						"markers": {{part_electric}}
		    		},
		    		"sigma":
		    		{
						"expr":"{materials_sigma_rr,0,materials_sigma_rz, 0,materials_sigma_thth,0, materials_sigma_rz,0,materials_sigma_zz}:materials_sigma_rr:materials_sigma_rz:materials_sigma_thth:materials_sigma_zz",
						"markers": {{part_electric}},
						"representation":["element"]
		    		},
		    		"materials_sigma_tr":
		    		{
						"expr":"max(abs(materials_sigma_1-materials_sigma_2),max(abs(materials_sigma_1-materials_sigma_3),abs(materials_sigma_2-materials_sigma_3))):materials_sigma_1:materials_sigma_2:materials_sigma_3",
                        "markers": {{part_electric}},
						"representation":["element"]
		    		},
		    		"sigma_vm":
		    		{
						"expr":"sqrt(2/3*(materials_sigma_1*materials_sigma_1+materials_sigma_2*materials_sigma_2+materials_sigma_3*materials_sigma_3-materials_sigma_1*materials_sigma_2-materials_sigma_1*materials_sigma_3-materials_sigma_2*materials_sigma_3)):materials_sigma_1:materials_sigma_2:materials_sigma_3",
                        "markers": {{part_electric}},
						"representation":["element"]
		    		},
			    	"principle_stresses":
			    	{
						"expr":"{materials_sigma_1,materials_sigma_2,materials_sigma_3}:materials_sigma_1:materials_sigma_2:materials_sigma_3",
                        "markers": {{part_electric}},
						"representation":["element"]
		    		},
		    		"epsilon":
		    		{
						"expr":"{elastic_grad_u_00,0,1/2*(elastic_grad_u_01+elastic_grad_u_10), 0,elastic_u_0/x,0, 1/2*(elastic_grad_u_01+elastic_grad_u_10),0,elastic_grad_u_11}:x:elastic_u_0:elastic_grad_u_00:elastic_grad_u_01:elastic_grad_u_10:elastic_grad_u_11",
                        "markers": {{part_electric}},
						"representation":["element"]
		    		}
				}
	    	}
		},
		"magnetic":
		{
	    	"Measures": 
	    	{
				"Statistics":
				{
		    		"MagneticEnergy":
		    		{
						"type":"integrate",
						"expr":"-2*pi*magnetic_Atheta*materials_sigma*(materials_U/2/pi):magnetic_Atheta:materials_sigma:materials_U:x",
						"markers": {{part_electric}}
		    		}
				}
	    	}
		},
		"heat":
		{
	    	"Save":
	    	{
				"Fields":
				{
		    		"names":["temperature"]
				}
	    	},
	    	"Measures":
	    	{
				"Statistics":
				{
		    		"Power":
				    {
        				"type": "integrate",
        				"expr": "2*pi*materials_sigma*(materials_U/2/pi)*(materials_U/2/pi)/x:materials_sigma:materials_U:x",
        				"markers": {{part_electric}}
    				},
				"MeanT": 
		    		{
						"type":["min","max","mean"], 
						"field":"temperature" 
		    		}
				}
	    	}
		}
    }
}
