{
   "Stats_VonMises":
   {
   {{#Stats_VonMises}}
   "{{header}}": 
   {
        "type": ["min", "max", "mean"],
        "expr": "sqrt(1/2*((materials_stress1-materials_stress2)*(materials_stress1-materials_stress2)+(materials_stress2-materials_stress3)*(materials_stress2-materials_stress3)+(materials_stress1-materials_stress3)*(materials_stress1-materials_stress3))):materials_stress1:materials_stress2:materials_stress3",
        "markers": {{markers}}
    },
    {{/Stats_VonMises}}
   }
}
                    