{
    "{{name}}":
{
    "expr1":"{{hw}}:{{hw}}",
    "expr2":"{{hw}}*({{Tw}}*(z<{{Zmin}}) + ({{dTw}}/({{Zmax}}-{{Zmin}})*(z-{{Zmin}})+Tw)*(z>{{Zmin}})*(z<{{Zmax}}) + ({{Tw}}+{{dTw}})*(z>{{Zmax}}))):z:{{hw}}:{{Tw}}:{{dTw}}:{{Zmin}}:{{Zmax}}",
      
}
}