{
    "Name": "ThermoElectric NL 3D Stationnary model",
    "ShortName":"3DNLThermoElectricStat",
    "Models": {
        "cfpdes": {
            "equations": [
                "electric",
                "heat"
            ]
        },
        "electric": {
            "common": {
                "setup": {
                    "unknown": {
                        "basis": "Pch1",
                        "name": "electric-potential",
                        "symbol": "V"
                    }
                }
            },
            "models": [

            ]
        },
        "heat": {
            "common": {
                "setup": {
                    "unknown": {
                        "basis": "Pch1",
                        "name": "temperature",
                        "symbol": "T"
                    }
                }
            },
            "models": [
                
            ]
        }
    },
    "Parameters":
    {
		{{#Parameters}}
		"{{name}}": "{{value}}",
		{{/Parameters}}

		"T0":"293.",
		"Tin":"284.15"
    },
    "Materials":
    {
		
    },
    "BoundaryConditions":
    {
		"electric":
		{
	    	"Dirichlet":
	    	{
				{{#boundary_Electric_Dir}}
				"{{name}}": { expr: "{{value}}"}
				{{/boundary_Electric_Dir}}
	    	},
			"Neumann":
			{
				{{#boundary_Electric_Neu}}
				"{{name}}": { expr: "{{value}}"}
				{{/boundary_Electric_Neu}}
			}
		},
		"heat":
		{
	    	"Robin":
	    	{
				{{#boundary_Therm_Robin}}
				"{{name}}": 
				{ 
					expr1: "{{expr1}}",
					expr2: "{{expr2}}"
				}
				{{/boundary_Therm_Robin}}
	    	}
	    	"Neumann":
	    	{
				{{#boundary_Therm_Neu}}
				"{{name}}": 
				{ 
					expr: "{{value}}"
				}
				{{/boundary_Therm_Neu}}
	    	}
		}
    },
    "InitialConditions":
    {
        "temperature":
        {
            "File":
            {
                "myic":
                {
                    "filename": "{{temperature_initfile}}",
                    "format":"hdf5"
                }
            }
        },
        "electric-potential":
        {
            "File":
            {
                "myic":
                {
                    "filename": "{{V_initfile}}",
                    "format": "hdf5"
                }
            }
        }
    },
    "PostProcess":
    {
		"use-model-name":1,
		"cfpdes":
		{
	    	"Exports":
	    	{
				"fields":["heat.temperature"],
				"expr":
				{
		    		"J":
		    		{
						"expr":"{-materials_sigma*electric_grad_V_0,-materials_sigma*electric_grad_V_1, -materials_sigma*electric_grad_V_2}:materials_sigma:electric_grad_V_0:electric_grad_V_1:electric_grad_V_2",
                        "markers": {{part_electric}}
		    		},
		    		"Q":
		    		{
						"expr": "materials_sigma*(electric_grad_V_0*electric_grad_V_0+electric_grad_V_1*electric_grad_V_1+electric_grad_V_2*electric_grad_V_2):materials_sigma:electric_grad_V_0:electric_grad_V_1:electric_grad_V_2",
                        "markers": {{part_electric}}
		    		}
				}
	    	}
		},
		"electric":
		{
			"Save":
	    	{
				"Fields":
				{
		    		"names":["electric-potential"]
				}
	    	}
		}
		"heat":
		{
	    	"Save":
	    	{
				"Fields":
				{
		    		"names":["temperature"]
				}
	    	},
	    	"Measures":
	    	{
				"Statistics":
				{
					"Stat_T": 
		    		{
						"type":["min","max","mean"], 
						"field":"temperature" 
		    		}
				}
	    	}
		}
    }
}
