{
    "Stats_Current":
    {
    {{#Stats_Current}}
    "{{header}}": 
    {
        "type": "integrate",
        "expr": "-materials_sigma*(electric_dn_V):materials_sigma:electric_dn_V",
        "markers":  {{markers}}
    },
    {{/Stats_Current}}
    }
}
                    