{
    "name":"magnetic_{{name}}",
    "materials":{{part_insulator}},
    "setup":{
        "coefficients":{
            "c":"x/materials_mu:x:materials_mu",
            "a":"1/materials_mu/x:x:materials_mu"
        }
    }
}