{
    "name":"magnetic_Conduct_nosource",
    "materials":"Conduct_nosource",
    "setup":{
        "coefficients":{
            "c":"x/materials_Conduct_nosource_mu:x:materials_Conduct_nosource_mu",
            "a":"1/materials_Conduct_nosource_mu/x:x:materials_Conduct_nosource_mu"
        }
    }
}