{
    "{{name}}":
{
    "physics":["heat","electric"],
    "markers":{{part_mat_conductor}},
    "sigma":"{{ElectricalConductivity}}",
    "k":"{{ThermalConductivity}}",

    "filename": "$cfgdir/conductor-hdg-thelec-3D.json"
}
}
