{
    "Name":"3D ThermoElectric model",
    "ShortName":"ThermoElec3D",
    "Model":"hdg",
    "Parameters":
    {
        "T0":"293",
        "intensity":"31000",

        {{#Parameters}}
		"{{name}}": "{{value}}",
		{{/Parameters}}
    },
    "Materials":
    {
    },
    "BoundaryConditions":
    {
        "electric-potential":
        {
            "Integral":
            {
                {{#boundary_Electric_Int}}
				"{{name}}":
				{
					"expr": "{{value}}"
				},
				{{/boundary_Electric_Int}}
            }
            "Dirichlet":
            {
                {{#boundary_Electric_Dir}}
				"{{name}}":
				{
					"expr": "{{value}}"
				},
				{{/boundary_Electric_Dir}}
            },
            "Neumann":
            {
                {{#boundary_Electric_Neu}}
				"{{name}}":
				{
					"expr": "{{value}}"
				},
				{{/boundary_Electric_Neu}}
            }
        },
        "temperature":
        {
            "Robin":
            {
                {{#boundary_Therm_Robin}}
				"{{name}}":
				{
					"expr1": "{{expr1}}",
					"expr2": "{{expr2}}"
				},
				{{/boundary_Therm_Robin}}
            },
            "Neumann":
            {
                {{#boundary_Therm_Neu}}
				"{{name}}":
				{
					"expr": "{{value}}"
				},
				{{/boundary_Therm_Neu}}
            }
        }
    },
    "InitialConditions":
    {
        "temperature":
        {
            "Expression":
            {
                "myic":
                {
                    "markers": {{part_thermic}},
                    "expr":"Tinit:Tinit"
                }
            }
        }
    },
    "PostProcess":
    {
        "use-model-name":1,
        "electric":
        {
            "Exports":
            {
                "fields":"all"
            },
            "Save": {
                "Fields": {
                    "names": [
                        "electric-potential"
                    ]
                }
            },
            "Measures":
            {
                "Statistics":{
                    "intensity_%1%": {
                        "type": "integrate",
                        "field": "current-density",
                        "markers": "%1%",
                        "index1": [
                            "{{iLead}}",
                            "{{oLead}}"
                        ]
                    }
                }
            }
        },
        "heat":
        {
            "Exports":
            {
                "fields":"all"
            },
            "Save": {
                "Fields": {
                    "names": [
                        "temperature"
                    ]
                }
            },
            "Measures":
            {
                "Statistics":{
                    "Stat_T": {
                        "type": [
                            "min",
                            "max",
                            "mean"
                        ],
                        "field": "temperature"
                    }
                }
            }
        }
    }
}
