{
   "Stats_T":
   {
   {{#Stats_T}}
   "{{header}}": 
   {
        "type": ["min", "max", "mean"],
        "field": "temperature",
        "markers": ["{{cname}}", ""{{iname}}""]
    },
    {{/Stats_T}}
   }
}
                    