{
   "Stats_Flux":
   {
   {{#Stats_Flux}}
   "Flux_{{prefix}}":
   {
      "type": "integrate",
      "expr": "%1_2%*{{hw}}*(heat_T-({{Tw}}+{{dTw}}/2.))*2*pi*x:x:heat_T:{{hw}}:{{Tw}}:{{dTw}}",
      "markers": {{markers}},
      "index1": {{index_h}}
   },
   {{/Stats_Flux}}
   }
}
